




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Validate File</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.js"></script>
    <style>
        .error{
            color:red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Company Logo</h1>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Create Employee
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post"id="formdata">
                        <fieldset>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Employee Name </label>
                                <div class="col-md-4">
                                    <input id="Name" name="Name" type="text" placeholder="Enter Employee Name" class="form-control input-md">

                                </div>
                            </div>
                         
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="prependedtext">Upload Image</label>
                                <div class="col-md-4">
                                   <input type="file" name="img1" />
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-4 control-label" for="button1id"></label>
                                <div class="col-md-8">
                                    <button id="btnSubmit" type="submit" name="btnSubmit" class="btn btn-primary">Submit</button>
                                    <button id="btnReset" type="button" name="btnReset" class="btn btn-info">Reset</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <img src="https://docs.google.com/uc?id=1isiMwWPsyYluSx1gYMeuet04Nd2t-tg3" alt="">
    </div>
    <script>
        $(document).ready(function () {

            $("#formdata").validate({
                rules: {
                  
                    img1: {
                        required: true,
                        extension: "jpg|doc|docx"

                    }
                },
                messages: {
                 
                    img1: {
                        extension:"Please select only pdf and doc files"
                    }
                }
               
            });


              
        });
    </script>
</body>

</html>